.box {
    background-color: #999;
    margin-bottom: 30px;
    min-height: 1000px;
}

.navbar {
    background-color: #999;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    background-color: white;
    border-bottom: 1px solid #999;
}

.box div:nth-child(2) {
    margin: 0 10px 0 10px;
}